<h1>Tag: <%= tag.name %></h1>

<hr />

<h2>Posts</h2>
<% author.posts.forEach(function(post){ %>
<div class='well'>
    <h3>
        <a href='/posts/<%= posts.id %>'><%= post.title %></a>
    </h3>
</div>
<& }); %>